/ClassLib/csModbusLib/obj
/ClassLib/csModbusView/obj
/DemoApps/VB.NET/csModMaster/obj
/DemoApps/VB.NET/csModSlave/obj
/Bin/*.pdb
/Bin/*.vshost.exe

/Bin/*.config
/Bin/*.manifest
/Bin/*.xml
/DemoApps/Samples/MasterSimple/bin
/DemoApps/Samples/MasterSimple/obj
/DemoApps/Samples/SlaveEvents/bin
/DemoApps/Samples/SlaveEvents/obj
/DemoApps/Samples/SlaveSimple/obj
/DemoApps/Samples/SlaveSimple/bin
/DemoApps/Samples/.vs/ModbusSamples/v14/*.suo
/DemoApps/VB.NET/csModSlave/*.bak
/ClassLib/csModbusLib/lib/Interface/*.bak
/ClassLib/csModbusLib/lib/Modbus/*.bak
/Doxygen
/DemoApps/csharp/csModMaster/bin
/DemoApps/csharp/csModMaster/obj
/ClassLib/csModbusLib/.vs
/DemoApps/VB.NET/.vs
/DemoApps/VB.NET/csModSlave/.vs
/ClassLib/csModbusView/bin/Release
/ClassLib/csModbusLib/bin/Release
