<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="csModMaster.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <csModMaster.My.MySettings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>RTU</value>
            </setting>
            <setting name="SlaveID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TCPport" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </csModMaster.My.MySettings>
    </userSettings>
</configuration>
